<div class="hello">
    <%= form_for :activity,url: user_activity_pages_path(current_user), remote: true , html: {id: "create_activity_form"} do |f| %>
           <%= render partial:'shared/error_messages', locals:{ activity: activity } %>
              <div class="custom-select">
                      <%= f.label :category %>   
                     <div class="myselect"> <%= f.select :category,[['select',''],['Sports','sports'],['Food','food'],['Education','Education']]%></div>
              </div>
              <div class="custom-input">
                      <%= f.label :name%>
                      <%= f.text_field :name %>
              </div>
                   <%= f.label :description%>
                   <%= f.text_area :description, class: "descript", placeholder: "Compose new description..." %>
                   <%= f.submit "Post", class: "btn btn-large btn-primary" %>
            
    <% end %>
</div>