<%provide(:title, ' ') %>


<% if signed_in? %>
<div class="hero-unit">

    <div class="row">
          <div class="profile-pic"><%= gravatar_for current_user%> </div>
          <div class="image"><%=link_to current_user.username, user_path(current_user) %></div>

      <div class="span6 offset3">

        <div class="new-activity-form">

          <%= form_for @activity, url: activity_pages_path do |f| %>
           <%= render 'shared/error_messages' %>
              <div class="custom-select">
                      <%= f.label :category %>   
                      <%= f.select :category, [['select',''],['Sports','sports'],['Food','food'],['Education','Education']]%>
              </div>
              <div class="custom-input">
                      <%= f.label :name%>
                      <%= f.text_field :name %>
              </div>
                   <%= f.label :description%>
                   <%= f.text_area :description, class: "descript", placeholder: "Compose new description..." %>
                   <%= f.submit "Post", class: "btn btn-large btn-primary" %>
            
                   <% end %>
        </div>
      </div>
    </div>
</div>
       <% @oldactivity.each do |activity|%>
      
        <div class="span12 offset2 ">
                  <div class="row">
                       <div class="span2">
                          <%= gravatar_for activity.user%>

                           <%=link_to activity.user.username, activity.user %>

                       </div>

                       <div class="span4">
                             <ol><h4>Category:</h4> <%=activity.category%></ol>
                              <ol><h4>Name:</h4> <%= activity.name%></ol>

                       </div>
                       <ol><h4>Description:</h4> <%=activity.description%></ol>
                  
                  </div>
                  Posted <%= time_ago_in_words(activity.created_at) %> ago.
        </div> 
        <%= will_paginate @oldactivity %>       
                  
        

        
        <%end%>
        
     

<% else %>
  
<div class="center hero-unit">


  <h1>Welcome to the Activity Helper App</h1>

  <h2>
    This is the home page for the
    <a href= "#">Activity Helper</a>
    
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "SUZUKI"), '#' %>
<%end%>