<%provide(:title, ' ') %>


<% if signed_in? %>
<div class="hero-unit">

    <div class="row">
          <div class="profile-pic"><%= gravatar_for current_user,size:150%> </div>
          <div class="image"><%=link_to current_user.username, user_path(current_user) %>
          </div>

      <div class="span6 offset3">

        <div class="new-activity-form">
          <%= render partial: 'activity_pages/new_post_form', locals: { activity: @activity, comment:@comment } %>
        </div>
      </div>
    </div>
</div>

  <div class="activities">
      <%= will_paginate @activities %>
    <% @activities.each do |rahul|%>

       <%= render partial: 'activity_pages/activity', locals: { nures: rahul, comment:@comment} %>
    <% end %>
       
  </div>

  


     

<% else %>
  
<div class="center hero-unit">


  <h1>Welcome to the Activity Helper App</h1>

  <h2>
    This is the home page for the
    <a href= "#">Activity Helper</a>
    
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "rails"), '#' %>
<%end%>