 <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
           <%= link_to image_tag('app.png', height: 235, width: 235, class: "photo"), root_path, class: "mylogo", id: "logo" %>
          
            
        <ul class="nav pull-right">
               <li> 
                  <%= form_tag "#", :class=>"form-search" do %>
                  <%= text_field_tag 'search-box', nil, :class=>"input-medium search-query", placeholder: 'search here' %>
                  <%= submit_tag  'search', :id=>"submit" %>
                  <%end%></li>

                <li><%= link_to "Register/Sign-up", new_user_registration_path %></li>
                <li><%= link_to "Activity", activity_pages_activity_path %></li>
                  

              <% if !current_user %>
                <li><%= link_to "Login", new_user_session_path %></li>
                
                     
            <% else %>
            <li><%= link_to "profile", user_path(current_user)%></li>
            <li> <%= link_to "Sign out", destroy_user_session_path, method: "delete" %><li>
              
                   
                   
              <% end %>
          
          
        </ul>
          
        </div>
      </div>
</header>