<!DOCTYPE html>
<html>
<head>
  <title>ActivityHelper <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="container">
      <div id="user_nav">
        <% if user_signed_in? %>
          signed in as <%= current_user.email %>.Not you?
          <%= link_to "sign out", destroy_user_session_path %>
        <% else %>
        
        <% end% %>
      </div>
    </div>

	
	
 <%= render 'layouts/header' %>

     <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>
 
 
 <!-- <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>-->

    <%= yield %>


</body>
</html>
